.header-main {
    width: 100%;
    height: 150px;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color)) ;
    display: flex;
    justify-content: start;
    padding-inline: 50px;
    padding-block: 10px;
    position: fixed;
    z-index: 1;
    transition: height 0.3s, opacity 0.3s;
    top: 0px;
    align-items: center;
}

.header-logo-box {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-main,h1 {
    color: var(--text-color);
}

.header-main > div > img {
    cursor: pointer;
    height: 75px;
    width: 50px;
}

.header-main.shrink {
  height: 100px;
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
    .header-main,h1 {
        font-size: 18px;
    }

    .header-main {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 5px;
    }

    .header-main.shrink {
        justify-content: center;
    }

    .header-main.shrink > .header-logo-box{
        width: 0px;
        justify-content: center;
    }
}