.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.card {
  cursor: pointer;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #ffffff80;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card > img {
  border-radius: 4px;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
}

.card:hover .card__content {
  transform: rotateX(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.grid-item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 5;
}
.grid-item:nth-child(2) {
  grid-area: 2 / 1 / 3 / 3;
}
.grid-item:nth-child(3) {
  grid-area: 2 / 3 / 3 / 5;
}
.grid-item:nth-child(4) {
  grid-area: 3 / 1 / 4 / 3;
}
.grid-item:nth-child(5) {
  grid-area: 3 / 3 / 4 / 5;
}
.grid-item:nth-child(6) {
  grid-area: 1 / 3 / 2 / 5;
}

.articles-container {
  padding-block: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Carousel */

.carousel-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 95%;
  height: 95%;
  background-color: black;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    var(--text-color),
    var(--secondary-color)
  );
}

.carousel-control {
  height: 20%;
  top: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.carousel-control > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.left {
  cursor: pointer;
  width: 50px;
  height: 25px;
  border-radius: 8px;
  border: 0.5px solid black;
}

.right {
  cursor: pointer;
  width: 50px;
  height: 25px;
  border-radius: 8px;
  border: 0.5px solid black;
}

.carousel-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Mobile View */

.grid-container {
  
}