.articles-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px 50px;
  border: 1px solid black;
}

.article-grid-item {
  grid-column-start: 1;
  grid-column-end: 1;
  border: 1px solid black;
}

.first-grid-item {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid black;
}
